
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmation</title>
</head>
<body>
<h1>Order Confirmation</h1>
<p>Thank you for your order!</p>

<h2>User Information:</h2>
<p><strong>User ID:</strong> <span th:text="${user.id}"></span></p>

<h2>Order Information:</h2>
<p><strong>Service Name:</strong> <span th:text="${order.serviceName}"></span></p>

<br>
<a href="/">Back to home</a>

</body>
</html>