<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pedestrian Services</title>
</head>
<body>
<h1>Pedestrian Services</h1>
<form action="/service/process" method="post">
  <input type="checkbox" id="buyCarProducts" name="serviceName" value="Buy Car Products"> Buy Car Products<br>
  <input type="checkbox" id="buyGroceries" name="serviceName" value="Buy Groceries"> Buy Groceries<br>
  <input type="submit" value="Submit">
</form>


<br>

<h2>Latest feedbacks:</h2>
<textarea th:text="${latestFeedbacks}" readonly></textarea>
</body>
</html>